<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="name" name="name">
  </div>
  <div class="form-group">
    <label>Lastname</label>
    <input type="text" class="form-control" [(ngModel)]="lastname" name="lastname">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" [(ngModel)]="email" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
