<div class="jumbotron text-center">
  <h1>rinch APP</h1>
  <p class="lead">
    Lorem ipsum dolor sit.
  </p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    <a [routerLink]="['/login']" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  lorem
</div>
