.flex-wrap{
	display: flex;
}

.sidebar{
	width: 20%;
	padding-right: 5px;
	border-right: 1px black solid;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	height: calc(100vh - 85px);
}

.sidebar-nav{
	padding-bottom: 5px;
	border-bottom: 1px black solid;
	margin-bottom: 25px;
	margin-right: 35px;
}

main{
	margin-left: 10px;
}

a{
	cursor: pointer;
}